@charset "UTF-8";
/*リセットCSS ドクターリセット
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background: white;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

dt,
dd {
  margin: 0;
  padding: 0;
}

input[type="submit"][disabled] {
  background: #DCDCDC;
  cursor: not-allowed;
  /* 禁止カーソル */
}

.page-top {
  position: fixed;
  bottom: 24px;
  right: 24px;
}

#gray-display {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.8;
  z-index: 8;
}

/* ハンバーガーメニュー============================*/
.hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  right: 30px;
  top: 30px;
  display: none;
}

@media screen and (max-width: 767px) {
  .hamburger-menu {
    display: block;
  }
}

.hamburger-menu__line {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hamburger-menu__line::before,
.hamburger-menu__line::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: none;
}

@media screen and (max-width: 767px) {
  .hamburger-menu__line::before,
  .hamburger-menu__line::after {
    display: block;
  }
}

.hamburger-menu__line::before {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.hamburger-menu__line::after {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.hamburger-menu.open .hamburger-menu__line {
  background-color: transparent;
}

.hamburger-menu.open .hamburger-menu__line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger-menu.open .hamburger-menu__line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-drawer {
  position: fixed;
  top: -20px;
  right: 0;
  background-color: black;
  width: 200px;
  height: 400px;
  padding-top: 100px;
  z-index: 9;
  display: none;
}

.header-drawer li {
  font-size: 28px;
  margin-bottom: 20px;
  padding-left: 30px;
  list-style: none;
  text-align: center;
}

.inner {
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.sp-only {
  display: none;
}

@media screen and (max-width: 767px) {
  .sp-only {
    display: block;
  }
}

.pc-only {
  display: block;
}

@media screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .pc-only {
    display: none;
  }
}

.pc-tab-only {
  display: block;
}

@media screen and (max-width: 767px) {
  .pc-tab-only {
    display: none;
  }
}

.sp-tab-only {
  display: none;
}

@media screen and (max-width: 767px) {
  .sp-tab-only {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .sp-tab-only {
    display: block;
  }
}

footer {
  position: absolute;
  width: 100%;
}

.section {
  padding: 90px 0 120px;
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.section-title {
  font-size: 48px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding-bottom: 12px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 26px;
    padding-bottom: 14px;
  }
}

.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 60px;
  height: 4px;
  background: #3F51B5;
}

@media screen and (max-width: 767px) {
  .section-title::after {
    height: 3px;
    width: 42px;
  }
}

.header {
  background: #3F51B5;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 7;
  -webkit-box-shadow: 0px 3px 3px #00000029;
          box-shadow: 0px 3px 3px #00000029;
}

@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

.header__logo {
  width: 205px;
  padding-top: 25px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 187px;
    padding-top: 10px;
  }
}

.header__logo img {
  display: block;
}

.header-right {
  margin-left: auto;
  padding-top: 25px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato", sans-serif;
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__nav li:not(:first-child) {
  margin-left: 40px;
}

.header__nav li a {
  color: white;
  position: relative;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.header__nav li a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
}

.header__nav li a:hover::after {
  background: #E81919;
}

.header__nav li a.is-active::after {
  background: #E81919;
}

.swiper-button-next {
  width: 40px;
  height: 40px;
  background: transparent url(../images/arrow-next.png) no-repeat center center/contain;
  margin-top: 30px;
  right: calc(50% - 600px);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .swiper-button-next {
    right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .swiper-button-next {
    right: 10px;
  }
}

.swiper-button-next:after {
  display: none;
}

.swiper-button-prev {
  width: 40px;
  height: 40px;
  background: transparent url(../images/arrow-prev.png) no-repeat center center/contain;
  margin-top: 30px;
  left: calc(50% - 600px);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .swiper-button-prev {
    left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .swiper-button-prev {
    left: 10px;
  }
}

.swiper-button-prev:after {
  display: none;
}

.swiper-pagination-bullet {
  margin-top: 100px;
  width: 16px;
  height: 16px;
  background: #EFEFEF;
  opacity: 1;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin-left: 6px;
  margin-right: 6px;
}

.swiper-pagination-bullet-active {
  background: #2F7DC8;
}

.swiper2 {
  background: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}

.swiper2 .card__items {
  padding-bottom: 60px;
}

.swiper2 .card__item {
  background: #EFEFEF;
}

.swiper2 .card__img {
  height: 195px;
}

.swiper2 .card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper2 .swiper-button-next {
  width: 30px;
  height: 30px;
  background: transparent url(../images/arrow-next.png) no-repeat center center/contain;
  margin-top: 192px;
  right: calc(50% - 200px);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .swiper2 .swiper-button-next {
    right: 10px;
    margin-top: 365px;
  }
}

@media screen and (max-width: 767px) {
  .swiper2 .swiper-button-next {
    right: 10px;
    margin-top: 515px;
  }
}

.swiper2 .swiper-button-next:after {
  display: none;
}

.swiper2 .swiper-button-prev {
  width: 30px;
  height: 30px;
  background: transparent url(../images/arrow-prev.png) no-repeat center center/contain;
  margin-top: 192px;
  left: calc(50% - 200px);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .swiper2 .swiper-button-prev {
    left: 10px;
    margin-top: 365px;
  }
}

@media screen and (max-width: 767px) {
  .swiper2 .swiper-button-prev {
    left: 10px;
    margin-top: 515px;
  }
}

.swiper2 .swiper-button-prev:after {
  display: none;
}

.main-visual2 {
  height: calc(100% - 95px);
  width: 100%;
  background: url(../images/david-svihovec-IdR3xJFstW0-unsplash.jpg) no-repeat center center/cover;
  margin-top: 70px;
  position: relative;
  color: black;
}

@media screen and (max-width: 767px) {
  .main-visual2 {
    margin-top: 30px;
    height: calc(100% - 55px);
  }
}

.main-visual {
  height: 400px;
  width: 100%;
  margin-top: 70px;
  background: url(../images/julian-o-hayon-HY3l4IeOc3E-unsplash.jpg) no-repeat center center/cover;
  color: #3F51B5;
}

.main-visual3 {
  height: 400px;
  width: 100%;
  margin-top: 70px;
  background: url(../images/vlad-kutepov-BHCPr3RiHWI-unsplash.jpg) no-repeat center center/cover;
}

.main-visual4 {
  height: 400px;
  width: 100%;
  margin-top: 70px;
  background: url(../images/brooke-cagle-442btOpRp9Q-unsplash.jpg) no-repeat center center/cover;
}

.main-visual__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -53.5%);
          transform: translate(-50%, -53.5%);
  text-align: center;
}

@media screen and (max-width: 767px) {
  .main-visual__content {
    padding: 0  50px;
  }
}

.main-visual__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.7;
}

@media screen and (max-width: 767px) {
  .main-visual__title {
    font-size: 32px;
    line-height: 1.3;
  }
}

.main-visual__lead {
  font-size: 24px;
  font-weight: 700;
  margin-top: 2px;
}

@media screen and (max-width: 767px) {
  .main-visual__lead {
    font-size: 18px;
    margin-top: 18px;
  }
}

.main-visual__button {
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .main-visual__button {
    margin-top: 24px;
  }
}

.main-visual__button a {
  display: inline-block;
  width: 385px;
  max-width: 100%;
  height: 73px;
  line-height: 73px;
  background: #3F51B5;
  color: white;
  border-radius: 12px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  -webkit-transition: all  .3s ease 0s;
  transition: all  .3s ease 0s;
}

.main-visual__button a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .main-visual__button a {
    width: 280px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
  }
}

.card {
  background: #EFEFEF;
}

.card__items {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .card__items {
    margin-top: 40px;
  }
}

.card__item {
  width: calc(33.3% - 24px *2 / 3);
  background: white;
  padding: 15px;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .card__item:nth-child(n + 4) {
    margin-top: 24px;
  }
  .card__item:not(:nth-child(3n + 1)) {
    margin-left: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .card__item {
    width: calc(50% - 24px /2);
  }
  .card__item:not(:nth-child(2n + 1)) {
    margin-left: 24px;
  }
  .card__item:nth-child(n + 3) {
    margin-top: 24px;
  }
}

@media screen and (max-width: 767px) {
  .card__item {
    width: 100%;
  }
  .card__item:nth-child(n + 2) {
    margin-top: 24px;
  }
}

.card__img {
  text-align: center;
}

.cart__title {
  font-size: 20px;
  font-weight: 700;
  color: #6F7579;
  margin-top: 12px;
}

.card__text {
  margin-top: 3px;
  color: #6F7579;
  line-height: 1.5;
}

.news__items {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .news__items {
    margin-top: 40px;
  }
}

.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 12px;
}

@media screen and (max-width: 767px) {
  .news__item {
    display: block;
  }
}

.news__item:not(:first-child) {
  border-top: 1px solid #707070;
}

.news__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
}

.news__date {
  width: 105px;
  padding-top: 5px;
  font-family: "Lato", sans-serif;
}

.news__label a {
  display: inline-block;
  width: 80px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: white;
  background: #666666;
  border-radius: 4px;
  font-weight: bold;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.news__label a.is-blue {
  background: #3F51B5;
}

.news__label a.is-red {
  background: #E81919;
}

.news__label a:hover {
  opacity: 0.7;
}

.news__title {
  width: calc(100% - 185px);
  padding-left: 20px;
  padding-top: 6px;
}

@media screen and (max-width: 767px) {
  .news__title {
    width: 100%;
    padding: 0;
    margin-top: 6px;
  }
}

.news__title a {
  line-height: 1.25;
}

.news__more {
  margin-top: 60px;
  text-align: center;
  font-family: "Lato", sans-serif;
}

@media screen and (max-width: 767px) {
  .news__more {
    margin-top: 30px;
  }
}

.news__more a {
  color: #E81919;
  font-weight: bold;
  padding-right: 14px;
  position: relative;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.news__more a::after {
  content: "";
  width: 10px;
  height: 11px;
  background: url(../images/news-arrow@2x.png) no-repeat center center/contain;
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.news__more a:hover {
  opacity: 0.7;
}

.price {
  background: #EFEFEF;
}

.price__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

@media screen and (max-width: 767px) {
  .price__content {
    display: block;
    margin-top: 40px;
  }
}

.price__image {
  width: 37.83333%;
}

@media screen and (max-width: 767px) {
  .price__image {
    width: 100%;
  }
}

.price__image img {
  width: 100%;
}

.price__table {
  width: 59%;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .price__table {
    width: 100%;
    margin-top: 24px;
  }
}

.price__table table {
  border-collapse: collapse;
  border: 1px solid #707070;
  font-weight: bold;
  width: 100%;
  table-layout: fixed;
}

.price__table table th,
.price__table table td {
  border: 1px solid #707070;
  padding: 0 24px;
  height: 58px;
  vertical-align: middle;
}

.price__table table th {
  background: #999999;
  color: #fff;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.price__table table th:nth-child(1) {
  width: 172px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .price__table table th:nth-child(1) {
    width: 100px;
  }
}

@media screen and (max-width: 767px) {
  .price__table table th:nth-child(1) {
    width: 80px;
  }
}

.price__table table td {
  background: #fff;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .price__table table td {
    padding: 0;
    text-align: center;
  }
}

.price__table table strong {
  color: #E81919;
  line-height: 1.2;
}

.price__table table span {
  font-size: 13px;
  display: block;
  line-height: 1.2;
  margin-top: 1px;
}

.price__attention {
  font-size: 14px;
}

.price__attention a {
  font-weight: bold;
  text-decoration: underline;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.price__attention a:hover {
  opacity: 0.7;
}

.access__map {
  width: 800px;
  max-width: 100%;
  margin: 80px auto 0;
}

@media screen and (max-width: 767px) {
  .access__map {
    margin-top: 40px;
  }
}

.iframe-wrap {
  width: 100%;
  padding-top: 50%;
  position: relative;
}

.iframe-wrap iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.access__info {
  margin: 16px auto;
  width: 800px;
  max-width: 100%;
}

.access__info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.access__info-row:not(:first-child) {
  margin-top: 8px;
}

.access__info-row dt {
  margin: 0;
  padding: 0;
  font-weight: bold;
  width: 104px;
}

.access__info-row dd {
  width: calc(100% - 104px);
}

.access__button {
  text-align: center;
  margin-top: 30px;
}

.access__button a {
  display: inline-block;
  width: 304px;
  max-width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 16px 12px;
  border-radius: 8px;
  background: #3F51B5;
  -webkit-box-shadow: 0 3px 6px #00000029;
          box-shadow: 0 3px 6px #00000029;
  color: white;
  position: relative;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.access__button a::after {
  content: "";
  width: 20px;
  height: 21px;
  background: url(../images/button-arrow.png) no-repeat center center/contain;
  position: absolute;
  top: 30%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  right: 12px;
}

.access__button a:hover {
  opacity: 0.7;
}

.contact {
  background: #EFEFEF;
}

.contact__form {
  margin: 80px auto 0;
  padding: 60px;
  width: 800px;
  max-width: 100%;
  background: #fff;
}

@media screen and (max-width: 767px) {
  .contact__form {
    padding: 30px;
    margin-top: 40px;
  }
}

.contact__form--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .contact__form--row {
    display: block;
  }
}

.contact__form--row:not(:first-child) {
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .contact__form--row:not(:first-child) {
    margin-top: 30px;
  }
}

.contact__form--label {
  width: 160px;
  padding-top: 5px;
}

@media screen and (max-width: 767px) {
  .contact__form--label {
    width: 100%;
  }
}

.contact__form--label label {
  font-weight: 700;
}

.contact__form--label label.is-required {
  position: relative;
}

.contact__form--label label.is-required::after {
  content: "必須";
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  background: #E81919;
  color: #fff;
  width: 44px;
  height: 22px;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  line-height: 1.75;
}

@media screen and (max-width: 767px) {
  .contact__form--label label.is-required::after {
    top: -3px;
    left: calc(100%  + 6px);
  }
}

.contact__form--input {
  width: calc(100% - 160px);
}

@media screen and (max-width: 767px) {
  .contact__form--input {
    width: 100%;
    margin-top: 5px;
  }
}

.contact__form--input [type="text"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  border-radius: 0;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px 16px;
  font-size: 14px;
  color: inherit;
  font-family: inherit;
  width: 100%;
}

.contact__form--input [type="email"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  border-radius: 0;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px 16px;
  font-size: 14px;
  color: inherit;
  font-family: inherit;
  width: 100%;
}

.contact__form--input select {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  border-radius: 0;
  background: #fff url(../images/select-arrow.png) no-repeat right 12px center/17px 14px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px 16px;
  font-size: 14px;
  color: inherit;
  font-family: inherit;
  width: 100%;
}

.contact__form--input textarea {
  height: 520px;
  resize: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  border-radius: 0;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px 16px;
  font-size: 14px;
  color: inherit;
  font-family: inherit;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .contact__form--input textarea {
    height: 200px;
  }
}

.contact__form--radio {
  margin-top: 32px;
}

.contact__form--radio [type="radio"] {
  display: none;
}

.contact__form--radio span {
  display: inline-block;
  margin-right: 36px;
  padding-left: 26px;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact__form--radio span {
    margin-right: 20px;
    margin-bottom: 5px;
  }
}

.contact__form--radio span::before {
  content: "";
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact__form--radio span::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #3F51B5;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}

.contact__form--radio [type="radio"]:checked + span::after {
  display: block;
}

.contact__form--checkbox {
  margin-top: 60px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .contact__form--checkbox {
    margin-top: 30px;
  }
}

.contact__form--checkbox [type="checkbox"] {
  display: none;
}

.contact__form--checkbox span {
  display: inline-block;
  padding-left: 49px;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact__form--checkbox span {
    padding-left: 40px;
  }
}

.contact__form--checkbox span::before {
  content: "";
  width: 25px;
  height: 25px;
  background: #fff;
  border: 1px solid #707070;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact__form--checkbox span::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent url(../images/checkbox.png) no-repeat center center/contain;
  display: none;
}

.contact__form--checkbox [type="checkbox"]:checked + span::after {
  display: block;
}

.contact__form--checkbox a {
  text-decoration: underline;
  font-weight: 700;
}

.contact__form--submit {
  margin-top: 30px;
  text-align: center;
}

.contact__form--submit [type="submit"] {
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 16px;
  font-weight: bold;
  background: #3F51B5 url(../images/button-arrow.png) no-repeat right 12px center/17px 16px;
  color: #fff;
  width: 304px;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 6px  #00000029;
          box-shadow: 0 3px 6px  #00000029;
  padding: 20px;
  cursor: pointer;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.contact__form--submit [type="submit"]:hover {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .contact__form--submit [type="submit"] {
    width: 100%;
  }
}

.footer {
  padding: 60px 0 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#666666));
  background: linear-gradient(to bottom, #333333, #666666);
  color: #fff;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 30px 0 0;
  }
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer__content {
    display: block;
  }
}

.footer__left {
  width: 25%;
}

@media screen and (max-width: 767px) {
  .footer__left {
    width: 100%;
  }
}

.footer__logo {
  width: 205px;
  height: 40px;
}

.footer__address,
.footer__tel {
  font-size: 14px;
}

.footer__address {
  margin-top: 26px;
}

@media screen and (max-width: 767px) {
  .footer__address {
    margin-top: 13px;
  }
}

.footer__tel {
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .footer__tel {
    margin-top: 5px;
  }
}

.footer__center {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .footer__center {
    width: 100%;
    margin-top: 30px;
  }
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Lato", sans-serif;
}

.footer-nav li:not(:first-child) {
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  .footer-nav li:not(:first-child) {
    margin-left: 10px;
  }
}

.footer-nav li a {
  position: relative;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.footer-nav li a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
}

.footer-nav li a:hover::after {
  background: #E81919;
}

.footer-nav li a.is-active::after {
  background: #E81919;
}

.footer__right {
  width: 25%;
}

@media screen and (max-width: 767px) {
  .footer__right {
    width: 100%;
    margin-top: 30px;
  }
}

.footer__copy {
  width: 618px;
  max-width: 100%;
  height: 80px;
  margin: 0 auto;
  padding-top: 40px;
  font-size: 14px;
  text-align: center;
  background: transparent url(../images/copy-bg@2x.png) no-repeat center bottom/contain;
}

@media screen and (max-width: 767px) {
  .footer__copy {
    margin-top: 23px;
    font-size: 10px;
    height: 40px;
    padding-top: 20px;
  }
}

.page-top img {
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 767px) {
  .page-top img {
    width: 40px;
    height: 40px;
  }
}

.footer__twitter {
  width: 100%;
  height: 250px;
  overflow: scroll;
}

.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 50;
  display: none;
  -webkit-transition: -webkit-transform 0.3s  ease 0s;
  transition: -webkit-transform 0.3s  ease 0s;
  transition: transform 0.3s  ease 0s;
  transition: transform 0.3s  ease 0s, -webkit-transform 0.3s  ease 0s;
}

@media screen and (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-icon.is-active .drawer-icon__bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 10px;
  width: 30px;
}

.drawer-icon.is-active .drawer-icon__bar2 {
  display: none;
}

.drawer-icon.is-active .drawer-icon__bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 10px;
  width: 30px;
}

.drawer-icon__bars {
  width: 22px;
  height: 20px;
  position: relative;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  width: 100%;
  height: 4px;
  background: #fff;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.5s  ease 0s;
  transition: -webkit-transform 0.5s  ease 0s;
  transition: transform 0.5s  ease 0s;
  transition: transform 0.5s  ease 0s, -webkit-transform 0.5s  ease 0s;
}

.drawer-icon__bar1 {
  top: 0;
}

.drawer-icon__bar2 {
  top: 8px;
}

.drawer-icon__bar3 {
  top: 16px;
}

.drawer-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 15;
  padding-top: 60px;
  background: #3f51b56e;
  -webkit-box-shadow: 0 0 3px #00000029;
          box-shadow: 0 0 3px #00000029;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.3s  ease 0s;
  transition: -webkit-transform 0.3s  ease 0s;
  transition: transform 0.3s  ease 0s;
  transition: transform 0.3s  ease 0s, -webkit-transform 0.3s  ease 0s;
  overflow: scroll;
}

.drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-content__item {
  border-bottom: 2px dotted  #707070;
  border-top: 2px dotted  #707070;
}

.drawer-content__item a {
  display: block;
  color: #fff;
  padding: 20px 50px;
  position: relative;
}

.drawer-content__item a::after {
  content: "";
  width: 8px;
  height: 10px;
  background: url(../images/arrow-b@2x.png) no-repeat center center/contain;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  right: 21px;
}

.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: none;
}

.drawer-background.is-active {
  display: block;
}

.qr {
  background: #EFEFEF;
}

.qr__items {
  width: 900px;
  max-width: 100%;
  margin: 80px auto 0;
}

@media screen and (max-width: 767px) {
  .qr__items {
    margin-top: 40px;
  }
}

.qr__item:nth-child(n + 2) {
  margin-top: 24px;
}

.qr-box__q {
  padding: 12px 56px;
  color: #fff;
  background: #3F51B5;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.qr-box__q:hover {
  opacity: 0.7;
}

.qr-box__q::before {
  content: "Q";
  width: 11px;
  height: 15px;
  position: absolute;
  top: 12px;
  left: 20px;
}

.qr-box__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 14px;
}

.qr-box__icon.is-open .qr-box__bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 11px;
}

.qr-box__icon.is-open .qr-box__bar2 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 11px;
}

.qr-box__bar1 {
  width: 10px;
  height: 3px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 20%;
  -webkit-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.qr-box__bar2 {
  width: 10px;
  height: 3px;
  background: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  border-radius: 20%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.qr-box__a {
  padding: 16px 30px 16px 20px;
  color: #3F51B5;
  background: #fff;
  line-height: 1.5;
  border: 1px solid #3F51B5;
  display: none;
}

.qr-box__content {
  padding-left: 35px;
  position: relative;
}

.qr-box__content::before {
  content: "A";
  width: 10px;
  height: 15px;
  color: #3F51B5;
  position: absolute;
  top: 0;
  left: 0;
}

.qr__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  padding: 0 160px;
}

@media screen and (max-width: 767px) {
  .qr__contents {
    display: block;
    margin-top: 40px;
    padding: 0;
  }
}

.qr__container--item {
  width: 440px;
  max-width: 100%;
}

.qr__container--item:not(:first-child) {
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  .qr__container--item:not(:first-child) {
    margin-left: 0;
    margin-top: 30px;
  }
}

.qr-container__q {
  text-align: center;
  padding: 12px 0;
  line-height: 34 / 20;
  background: #fff;
  border: 1px solid #3F51B5;
  border-radius: 30px;
  font-size: 20px;
  color: #3F51B5;
  position: relative;
}

.qr-container__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 14px;
}

.qr-container__icon.is-open .qr-container__bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 11px;
}

.qr-container__icon.is-open .qr-container__bar2 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 11px;
}

.qr-container__bar1 {
  width: 10px;
  height: 3px;
  background: #3F51B5;
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 20%;
  -webkit-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.qr-container__bar2 {
  width: 10px;
  height: 3px;
  background: #3F51B5;
  position: absolute;
  top: 50%;
  right: 0;
  border-radius: 20%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.qr-container__a {
  padding-top: 40px;
  color: #3F51B5;
  display: none;
}

.modal-contact {
  width: 900px;
  max-width: calc(100% - 24px * 2);
  height: 652px;
  max-height: calc(100% - 24px *2);
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #707070;
  background: #fff;
  -webkit-box-shadow: 0 0 3px;
          box-shadow: 0 0 3px;
  z-index: 31;
  padding: 60px;
  display: none;
}

@media screen and (max-width: 767px) {
  .modal-contact {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.modal-cont__head {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 24px;
  position: relative;
}

.modal-cont__head::after {
  content: "";
  width: 100px;
  height: 2px;
  background: #3F51B5;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal-contact__content {
  margin-top: 40px;
  height: calc(100% - 84px - 108px);
  overflow: auto;
}

.modal-contact__sub-head {
  font-size: 20px;
  font-weight: 700;
  padding-left: 20px;
  position: relative;
  margin-top: 40px;
}

.modal-contact__sub-head > :first-child {
  margin-top: 0;
}

.modal-contact__sub-head::after {
  content: "";
  width: 4px;
  height: 20px;
  background: #3F51B5;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-contact__text {
  padding-left: 20px;
  line-height: 1.5;
}

.modal-contact__button {
  margin-top: 60px;
  text-align: center;
}

.modal-contact__button a {
  display: inline-block;
  width: 176px;
  padding: 14px;
  font-weight: 700;
  color: #fff;
  background: #3F51B5;
  border-radius: 8px;
  -webkit-box-shadow: 0 3 6px;
          box-shadow: 0 3 6px;
}

.modal-contact__icon {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
}

.modal-contact__icon img {
  width: 40px;
}

.modal-contact__backfground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 30;
  display: none;
}

.voice {
  background: #EFEFEF;
}

.voice__items {
  margin-top: 80px;
}

@media screen and (max-width: 767px) {
  .voice__items {
    margin-top: 40px;
  }
}

.voice__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 0 3px 6px;
}

.voice__item:not(:first-child) {
  margin-top: 32px;
}

.voice__item:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
  .voice__item {
    display: block;
  }
}

.voice__item-img {
  width: 50%;
  height: 60vw;
  max-height: 315px;
  vertical-align: bottom;
}

.voice__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

@media screen and (max-width: 767px) {
  .voice__item-img {
    width: 100%;
  }
}

.voice__item-text {
  width: 50%;
  padding: 32px 32px 60px;
  color: #6F7579;
  background: #fff;
  position: relative;
}

@media screen and (max-width: 767px) {
  .voice__item-text {
    width: 100%;
  }
}

.voice__item-text h3 {
  font-size: 22px;
  line-height: 1.09091;
}

.voice__item-text p {
  margin-top: 24px;
  font-weight: 700;
}

.voice__item-text small {
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.blog {
  background: #EFEFEF;
}

.bolg__items {
  margin-top: 80px;
}

@media screen and (max-width: 767px) {
  .bolg__items {
    margin-top: 40px;
  }
}

.blog__item {
  padding: 18px 24px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #707070;
  border-radius: 8px;
}

.blog__item:not(:first-child) {
  margin-top: 24px;
}

@media screen and (max-width: 767px) {
  .blog__item {
    display: block;
  }
}

.blog__img {
  width: 33.33333%;
  max-height: 241px;
  height: 60vw;
}

.blog__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 767px) {
  .blog__img {
    width: 100%;
  }
}

.blog__text {
  padding-left: 24px;
  position: relative;
  width: 66.66667%;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .blog__text {
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }
}

.blog__text h3 {
  margin-top: 20px;
  font-size: 20px;
}

.blog__text p {
  margin-top: 20px;
  padding-bottom: 20px;
  color: #999999;
  font-size: 14px;
  line-height: 1.71429;
}

.blog__text small a {
  font-size: 14px;
  color: #999999;
  position: absolute;
  bottom: 0;
  right: 0;
}

.blog-date {
  position: absolute;
  top: 0;
  right: 0;
}

.blog-label {
  width: 96px;
  padding: 3px;
  font-size: 12px;
  color: #fff;
  background: #3F51B5;
  text-align: center;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 6px;
          box-shadow: 0 3px 6px;
}

.plan {
  background: #EFEFEF;
}

.plan__items {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .plan__items {
    margin-top: 40px;
    display: block;
  }
}

.plan__item {
  width: calc(33.3% - 24px * 2 / 3);
  background: #fff;
  border: 1px solid #707070;
  padding: 60px 0;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .plan__item {
    width: 100%;
  }
}

.plan__item:not(:first-child) {
  margin-left: 24px;
}

@media screen and (max-width: 767px) {
  .plan__item:not(:first-child) {
    margin: 20px 0 0;
  }
}

.plan__title {
  font-size: 20px;
  text-align: center;
}

.plan__valu {
  margin-top: 40px;
  font-size: 24px;
  text-align: center;
}

.plan__valu span {
  font-size: 48px;
  padding: 0 8px;
}

.plan__support {
  margin-top: 60px;
  background: #EDEDED;
}

.plan__support li {
  padding: 20px;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  position: relative;
}

.plan__support li::after {
  content: "○";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
}

.plan__support li.is-batu::after {
  content: "×";
}

.plan__button {
  margin: 60px auto 0;
  width: 160px;
}

.plan__button a {
  display: inline-block;
  padding: 24px;
  width: 100%;
  text-align: center;
  border: 1px solid #707070;
}

.more__items {
  width: 815px;
  max-width: 100%;
  margin: 80px auto 0;
}

@media screen and (max-width: 767px) {
  .more__items {
    margin-top: 40px;
  }
}

.more__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 13px;
  border-bottom: 1px solid #707070;
}

.more__item:not(:first-child) {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .more__item {
    display: block;
    padding: 0;
  }
}

.more__date {
  width: 85px;
  padding-top: 5px;
}

.more__text {
  width: calc(100% - 88px - 85px);
  padding: 5px 20px 0;
}

.more__text a {
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .more__text {
    width: 100%;
    padding: 0;
    margin-top: 10px;
  }
}

.more__label {
  width: 88px;
}

.more__label a {
  display: inline-block;
  padding: 6px;
  width: 100%;
  background: #3F51B5;
  color: white;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .more__label {
    margin: 30px auto 30px;
  }
}

.more__button {
  margin-top: 80px;
}

@media screen and (max-width: 767px) {
  .more__button {
    margin-top: 30px;
  }
}

.more__button-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.more__button-items li {
  width: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
}

@media screen and (max-width: 767px) {
  .more__button-items li {
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
  }
}

.more__button-items li:not(:first-child) {
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .more__button-items li:not(:first-child) {
    margin-left: 10px;
  }
}

.more__button-items li a {
  display: inline-block;
  width: 100%;
  text-align: center;
  border: 1px solid #3F51B5;
}

.more__button-items li a.is-active {
  background: #3F51B5;
  color: #fff;
}

.widget__contents {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .widget__contents {
    display: block;
    margin-top: 40px;
  }
}

.widget__notice {
  width: calc(50% - 40px  / 2);
  border: 1px solid #3F51B5;
}

@media screen and (max-width: 767px) {
  .widget__notice {
    width: 100%;
  }
}

.widget__notice:nth-child(even) {
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  .widget__notice:nth-child(even) {
    margin-left: 0;
  }
  .widget__notice:nth-child(even):not(:first-child) {
    margin-top: 20px;
  }
}

.widget__sub-head {
  padding: 15px;
  background: #3F51B5;
  position: relative;
}

.widget__sub-head h3 {
  color: white;
  font-size: 20px;
  line-height: 34 / 20;
}

.widget__sub-head.is-red {
  background: #B53F6E;
}

.widget__button {
  width: 100px;
  background: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 12px;
}

.widget__button a {
  display: inline-block;
  font-weight: 700;
  padding: 8px;
  width: 100px;
  text-align: center;
  border-radius: 2px;
}

.widget__items {
  padding: 20px;
}

.widget__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #707070;
}

@media screen and (max-width: 767px) {
  .widget__item {
    display: block;
  }
}

.widget__item:not(:first-child) {
  margin-top: 20px;
}

.widget__date {
  width: 85px;
  line-height: 27 / 16;
  position: relative;
}

@media screen and (max-width: 767px) {
  .widget__date {
    width: 200px;
  }
}

.widget__date.is-yellow::after {
  content: "注目";
  width: 52px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  font-size: 14px;
  background: #FEBB07;
  color: #fff;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 767px) {
  .widget__date.is-yellow::after {
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.widget__text {
  width: calc(100% - 85px);
  padding-left: 25px;
}

@media screen and (max-width: 767px) {
  .widget__text {
    width: 100%;
    padding-left: 0;
    margin-top: 10px;
  }
}

.time {
  background: #EFEFEF;
}

.time__table {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .time__table {
    margin-top: 40px;
  }
}

.time__table table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
}

.time__table table thead tr {
  background: #999999;
  color: #fff;
}

.time__table table thead tr th:first-child {
  width: 29%;
}

.time__table table thead tr th:nth-last-child(1) {
  background: #EA5174;
}

.time__table table thead tr th:nth-last-child(2) {
  background: #5160EA;
}

.time__table table tbody tr {
  background: #fff;
}

.time__table table tbody tr:nth-child(even) {
  background: #DDDDDD;
}

.time__table table tbody tr td:first-child {
  font-weight: 700;
}

.time__table table tbody tr td:nth-last-child(1) {
  background: #E99BAD;
}

.time__table table tbody tr td:nth-last-child(2) {
  background: #B3C9E9;
}

.time__table th,
.time__table td {
  padding: 15px;
  border: 1px solid #707070;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .time__table th,
  .time__table td {
    padding: 5px 0 5px 0;
  }
}

.table-no-border__item {
  margin: 40px auto 0;
  width: 800px;
  max-width: 100%;
}

.table-no-border {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.table-no-border tr th,
.table-no-border tr td {
  height: 64px;
  font-weight: 700;
  vertical-align: middle;
  line-height: 24 / 16;
  border: 1px solid #EFEFEF;
}

.table-no-border tr th {
  background: #DDDDDD;
}

.table-no-border tr th:first-child {
  width: 25%;
}

.table-no-border tr td {
  padding-left: 24px;
  background: #fff;
}

@media screen and (max-width: 767px) {
  .table-no-border tr td {
    padding-left: 5px;
  }
}

.table-no-border tr td strong {
  color: #E81919;
  font-size: 24px;
}

.tab-navigation {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 3px solid #3F51B5;
}

.tab-navigation__item {
  width: 21%;
}

.tab-navigation__item a {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 34 / 20;
  padding: 14px 0;
  border: 3px solid #3F51B5;
  border-bottom: none;
  border-radius: 12px 12px 0 0;
}

.tab-navigation__item a.is-active {
  background: #3F51B5;
  color: white;
}

@media screen and (max-width: 767px) {
  .tab-navigation__item a {
    padding: 5px 0;
    font-size: 16px;
  }
}

.tab-navigation__item:not(:first-child) {
  margin-left: 9.16667%;
}

.tab__sub_head {
  margin: 63px auto 0;
  font-size: 20px;
  width: 320px;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  text-align: center;
}

.tab__sub_head::before {
  content: "";
  width: 3px;
  height: 26px;
  background: #3F51B5;
  position: absolute;
  top: 5px;
  left: 0;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.tab__sub_head::after {
  content: "";
  width: 3px;
  height: 26px;
  background: #3F51B5;
  position: absolute;
  top: 5px;
  right: 0;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

@media screen and (max-width: 767px) {
  .tab__sub_head {
    margin-top: 20px;
    font-size: 18px;
  }
}

.tab__container {
  margin-top: 43px;
  height: 350px;
  overflow: scroll;
}

@media screen and (max-width: 767px) {
  .tab__container {
    margin-top: 10px;
  }
}

.tab__container--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .tab__container--item {
    display: block;
  }
}

.tab__img {
  width: 47.83333%;
  height: 330px;
}

@media screen and (max-width: 767px) {
  .tab__img {
    width: 100%;
    height: 200px;
  }
}

.tab__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tab__text {
  width: 48.83333%;
  margin-left: 40px;
  padding: 32px;
}

@media screen and (max-width: 767px) {
  .tab__text {
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-top: 20px;
  }
}

.tab__text h4 {
  font-size: 18px;
}

.tab__text p {
  margin-top: 24px;
}

@media screen and (max-width: 767px) {
  .tab__text p {
    margin-top: 12px;
  }
}

.tab__button {
  margin: 24px auto 0;
  width: 304px;
  max-width: 100%;
}

.tab__button a {
  display: inline-block;
  width: 100%;
  padding: 15px;
  background: #3F51B5;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tab__button a:hover {
  opacity: 0.7;
}

.tab__button a::after {
  content: "";
  width: 17px;
  height: 16px;
  background: url(../images/button-arrow.png) no-repeat center center/contain;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 12px;
}
